* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  html {
    font-family: "Montserrat", sans-serif;
  }

  body {
    background-color: #8a008a;
  background-image: url("https://transparenttextures.com/patterns/cubes.png");
  }
  
  
  
  footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  